.flex-container{
  display: flex;
}

.count{
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-radius: 20px;
}

.quantity{
  padding-left: 10px;
  padding-right: 10px;
}

.payPalButton{
  display: flex;
  align-items: center;
 margin-left: 250px;
}

@media screen and (max-width: 850px){
  .payPalButton{
    margin-left: 0;
  }

}