.payPalMessage{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem ;
  margin: 10rem 1.5rem;
  border-radius: 50px;

  width: 800px;
  margin-left: 350px;
}
@media only screen and (max-width: 600px) {
  .payPalMessage{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem ;
    border-radius: 50px;
    width: 380px;
    margin: 10rem 10rem 10rem 1.5rem;

  }

}
